/* Muted Pascal Theme */
.colourtheme-muted-pascal {
    --background: #2b2d37;
    --text: #d3c6aa;
    --sidebar-background: #32343f;
    --sidebar-text: #d3c6aa;
    --chat-background: #3b3d4b;
    --chat-text-sent: #a7c080;
    --chat-text-received: #d3c6aa;
    --border: 1px solid #4b4d59;
    --popup-background: #32343f;
    --breadcrumb-background: #3f414f;
    --breadcrumb: #7fbbb3;
    --object-selected: #454857;
    --object-hover: #505262;
}

/* Tokyonight Theme */
.colourtheme-tokyonight {
    --background: #1a1b26;
    --text: #c0caf5;
    --sidebar-background: #16161e;
    --sidebar-text: #c0caf5;
    --chat-background: #1f2335;
    --chat-text-sent: #7dcfff;
    --chat-text-received: #c0caf5;
    --border: 1px solid #2a2e3e;
    --popup-background: #1f2335;
    --breadcrumb-background: #2a2e3e;
    --breadcrumb: #bb9af7;
    --object-selected: #292e42;
    --object-hover: #3b4261;
}

/* Catppucin Frappe Theme */
.colourtheme-catppuccin-frappe {
    --background: #303446; /* Base */
    --text: #c6d0f5; /* Text */
    --sidebar-background: #292c3c; /* Mantle */
    --sidebar-text: #c6d0f5; /* Text */
    --chat-background: #303446; /* Base */
    --chat-text-sent: #8caaee; /* Blue */
    --chat-text-received: #b5bfe2; /* Subtext0 */
    --border: 1px solid #414559; /* Surface0 */
    --popup-background: #303446; /* Base */
    --breadcrumb-background: #414559; /* Surface0 */
    --breadcrumb: #ca9ee6; /* Mauve */
    --object-selected: #51576d; /* Surface2 */
    --object-hover: #626880; /* Surface1 */
}

/* Gruvbox Theme */
.colourtheme-gruvbox {
    --background: #282828;
    --text: #ebdbb2;
    --sidebar-background: #1d2021;
    --sidebar-text: #ebdbb2;
    --chat-background: #32302f;
    --chat-text-sent: #fabd2f;
    --chat-text-received: #ebdbb2;
    --border: 1px solid #3c3836;
    --popup-background: #32302f;
    --breadcrumb-background: #3c3836;
    --breadcrumb: #fb4934;
    --object-selected: #504945;
    --object-hover: #665c54;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 2vh;
    color: var(--text);
    background: var(--background);
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

.main-content {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 2;
    background: var(--sidebar-background);
    color: var(--sidebar-text);
}

.sidebar button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: var(--sidebar-text);
}

.sidebar .channelBtn {
    color: transparent;
    border-radius: 2px;
}

.explorer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#worldExplorerContainer {
    flex: 2;
}

#playerExplorerContainer {
    flex: 1;
    border-top: var(--border);
}

.explorer-wrapper .object-explorer {
    flex: 1;
    background: var(--background);
}

.explorers-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.chat-container {
    display: flex;
    bottom: 0;
    left: 60px; /* Adjust for sidebar width */
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--chat-background);
}

.chat-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    height: 30vh; /* Default height when visible */
}

.chat-content.hidden {
    height: 0; /* Collapse height when hidden */
}

.messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 0;
    margin: 5px 0;
    border-radius: 5px;
}

.message[data-direction="sent"] {
    color: var(--chat-text-sent);
}

.message[data-direction="received"] {
    color: var(--chat-text-received);
}

.input-area {
    display: flex;
    padding: 10px;
    flex-shrink: 0;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: var(--chat-input-border);
    border-radius: 4px;
}

div#keybindPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--popup-background);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
}

#keybindPopup table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#keybindPopup th,
#keybindPopup td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid var(--border);
}

#keybindPopup th {
    background-color: var(--popup-background);
    color: var(--text);
}

#keybindPopup td {
    background-color: var(--popup-background);
    color: var(--text);
}

.object-explorer {
    display: flex;
    flex: 2;
    width: 100%;
    border-right: var(--border);
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.player-explorer {
    display: flex;
    height: 20vh;
    width: 100%;
    border-top: var(--border);
    background: var(--chat-background);
    overflow: hidden;
}

#playerSiblingColumn {
    flex: 1;
    max-width: 50%;
}

#playerFocusColumn {
    flex: 1;
    min-width: 50%;
}

.player-column-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#playerColumn {
    flex: 1;
    min-width: 100%;
}

#playerColumn .object-info-area {
    width: 33%;
    padding: 10px;
    border-right: var(--border);
    overflow-y: auto;
}

#playerColumn .children-area {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.object-explorer.hidden {
    width: 0;
    overflow: hidden;
}

.explorer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.breadcrumb-area {
    padding: 8px;
    background: var(--breadcrumb-background);
    border-bottom: var(--border);
    width: 100%;
}

.explorer-columns {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.explorer-column {
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 50%;
    max-width: 50%;
    min-width: 0;
}

.explorer-column:last-child {
    border-right: none;
}

.column-content {
    position: relative;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.object-info-area {
    min-height: 25%;
    padding: 10px;
    border-bottom: var(--border);
}

.children-area {
    flex: 1;
    overflow-y: auto;
}

.object-property {
    margin-bottom: 5px;
}

.object-property span {
    font-weight: bold;
    margin-right: 5px;
}

.object-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: var(--border);
    position: relative;
}

.object-item > div {
    position: relative;
}

.object-type {
    position: relative;
    display: inline-block;
    width: 1em;
    z-index: 1;
}

.object-name {
    position: relative;
    z-index: 1;
}

.object-damage {
    position: absolute;
    z-index: 0;
}

.object-item:hover {
    background: var(--object-hover);
}

.object-item.selected {
    background: var(--object-selected);
}

.object-focus-background {
    position: absolute;
    right: 0;
    bottom: -0.2em;
    font-size: 30vh;
    opacity: 0.2;
}

.parent-glyph-background {
    position: absolute;
    left: 0;
    bottom: -0.2em;
    font-size: 70vh;
    opacity: 0.05;
}

.breadcrumb-link {
    text-decoration: none;
    cursor: pointer;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.chat-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    background: var(--chat-background);
    padding: 5px 10px;
}

.tab-btn {
    background: none;
    border: none;
    padding: 8px 16px;
    color: var(--chat-text-received);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

#toggleChatBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--sidebar-text);
    font-size: 24px; /* Match previous sidebar button size */
    padding: 8px;
    margin-left: auto; /* Push to the right */
}

.tab-btn:hover {
    color: var(--chat-text-sent);
}

.tab-btn.active {
    border-bottom: 2px solid var(--chat-text-sent);
    color: var(--chat-text-sent);
}

#commandPalette {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
}

#commandInput {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#commandSuggestions {
    max-height: 200px;
    overflow-y: auto;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
}

.suggestion:hover,
.suggestion.highlighted {
    background: #f0f0f0;
}
